.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom:1px solid rgb(218, 211, 211);
    z-index: 100;
}
.left-header{
    display: flex;
    align-items: center;
}
.middle-header{
    flex: 1;
    margin: 0 30px 0 70px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right-header{
    margin-right: 15px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin: 0 24px;
}
.youtube-logo{
    height: 20px;
}
.search-bar{
    flex: 1;
    height: 36px;
    border: 1px solid rgb(220, 213, 213);
    border-radius: 2px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.05);
    font-size: 16px;
    width: 0;
}

.search-bar::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 10px;
}
.search-button{
    height: 40px;
    width: 60px;
    border: none;
    border: 1px solid rgb(220, 213, 213);
    margin: 0 15px 0 -2px;
    background-color: rgb(249, 244, 244);
    border-radius: 2px;
}
.search-button,
.voice-search-button,
.upload-create,
.applications,
.notification-contant{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-create .tooltip,
.applications .tooltip,
.notification-contant .tooltip{
    position: absolute;
    background-color: grey;
    color: white;
    padding:2px 6px;
    font-size: 12px;
    bottom: -26px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-create:hover .tooltip,
.applications:hover .tooltip,
.notification-contant:hover .tooltip{
    opacity: 1;
}

.voice-search-button{
    height: 42px;
    width: 42px;
    border: none;
    border-radius: 20px;
    background-color: rgb(249, 244, 244);
}
.search{
    height: 24px;
    cursor: pointer;
}
.voice-search{
    height: 26px;
    cursor: pointer;
}
.upload{
    height: 24px;
    cursor: pointer;
}
.youtube-apps{
    height: 24px;
    cursor: pointer;
}
.notification-bar{
    position: relative;
}
.notification-number{
    position: absolute;
    top: -4px;
    right: -3px;
    background-color: rgb(167, 11, 11);
    color: white;
    padding: 2px 5px;
    font-size: 11px;
    border-radius: 10px;
}
.notifications{
    height: 24px;
    cursor: pointer;
}
.my-channel{
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}